#blocks {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px
}

#save-new-book-button {
    background-color: var(--blue);
    font-size: large;
    color: var(--white);
    border: none;
    border-radius: 5vw;
    padding: 1vw 5vw;
    margin-top: 30px 0 0 0;
    text-align: center;
    align-self: center;
    display: flex;
    justify-content: center;
}
#conditions{
    border: none;
}
.inputs-addBook{
    height: 25px;
    border-radius: 20px;
    border: none;
    padding-left: 5px;
}