#login {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 500px;
    border: solid 1px #000;
}

#login-title {
    text-align: center;
    line-height: 30px;
}

#login-checkbox {
    display: flex;
    margin-top: 5%;
    justify-content:center;    
}
.radio-user{
    margin-right: 15px;
    margin-left: 5px;
    border: none;
}

.checkbox {
    padding: 3%;
    border-radius: 25%;
}

#login-inputs {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    margin-top: 5%;
}

.filling-login {
    width: 200px;
    height: 25px;
    border-radius: 20px;
    border: none;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
}
#acessar{
    display: flex;
    padding: 15px;
    width: 200px;
    justify-content: flex-start;
    padding-left: 0px;
    height: 30px;
    width: 100px;
}
#button-acessar{
    border: none;
    width: 100%;
    border-radius: 25px;
    color: #fff;
    background-color: var(--blue);
}
#login-cadastre-se{
    border: none;
    width: 100px;
    height: 20px;
    border-radius: 25px;
    color: #fff;
    background-color: var(--orange);
}