#profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    width: 100%;
}
main > div {
    display: flex;
    width: 100%;
    justify-content: center;
}
#profile-details {
    display: flex;
    flex-direction: row;
    height: 350px;
    width: 100%;
    border-bottom: solid 2px var(--white);
    align-items: center;
    justify-content: center;
}

#profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding-right: 5%;
}

#profile-description {
    padding-left: 5%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-details-text {
    padding-bottom: 2%;
}

#profile-edit {
    display: flex;
    padding-left: 0%;
}

#profile-button-edit {
    width: 158px;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: var(--white);
}
#save-edit-profile{
    width: 158px;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: var(--white);
}

#profile-my-collections {
    height: 500px;
    width: 100%;
    border-bottom: solid 2px var(--white);
    padding: 0;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}

#profile-colletion-books {
    display: flex;
    padding-bottom: 20px;
}

.books-profile {
    height: 323px;
    width: 226px;
    padding: 3%;
    padding-bottom: 0;
}

#my-collection-text {
    padding-top: 3%;
}

#profile-button-add {
    display: flex;
    width: 100%;
    justify-content: center;
}

#button-add {
    width: 186px;
    height: 43px;
    border: none;
    border-radius: 25px;
    color: var(--white);
    font-size: 15px;
}
.inputs-edit-myprofile{
    border-radius: 25px;
    height: 20px;
    color: white;
    border-style:dashed;
    margin-top: 10px;
    padding-left: 5px;
    background-color: var(--dark-blue-green);
}

#pen-edit{
    position: absolute;
    margin-top: -150px;
    margin-left: 50px;
}
#label{
    padding: 5px 5px;
    background-color: var(--orange);
    color: #FFF;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 25px;
}
#change-photo{
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#sopcentralizar{
    display: flex;
    justify-content: center;
}
#inputprofile{
    display: flex;
    
    flex-direction: column;
    align-items: center;
}
#new-photo{
    display: none;
}