@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400&family=Spectral+SC:wght@700&display=swap');

/* ----- defining palette colors ----- */
:root {
    --green: #12492F;
    --dark-blue-green: #0A2F35;
    --orange: #F56038;
    --dark-pale: #F7A325;
    --pale: #FFCA7A;
    --blue: #2A08FB;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
}

/* general content */
body {
    background-color: var(--dark-blue-green);
    font-family: 'Source Sans Pro', sans-serif;

}

.green-text {
    color: var(--green);
    background-color: var(--dark-pale);
}

.white-text {
    color: #FFF;
    font-family: 'Spectral SC', serif;
    font-size: 36px;
}

a:link {
    transition: 400ms;
    color: initial;
    width: 100%;
    height: 100%;
}

a:visited{
    color: initial;
}

a:hover {
    font-weight: bold;
    transition: 200ms;
}

form{
    display: flex;
    width: 100%;
}

button {
    background-color: var(--orange);
    border-radius: 10px;
    width: 50px;
    word-break: keep-all;
    text-overflow: clip;
}

section,
nav {
    display: flex;
    gap: 80px;
}

ul {
    display: inherit;
    gap: inherit;
    justify-content: space-around;
    /* background-color: var(--dark-pale); */
}

main {
    color: #FFF;
    padding: 3%;
    display: flex;
    justify-content: center;
}
#main-text{
    display: flex;

    flex-direction: column;
    justify-content: flex-start;
    padding-top: 3%;
    padding-left: 3%;
}
#title-main-text{
    font-size: 60px;
    margin-bottom: 5%;
    text-align: left;
}
#main-img{
    width: 50%;
    height: 550px;
}
#p-main-text{
    text-align: left;
    line-height:25px;
}
#button-main{
    margin-top: 3%;
    width: 250px;
    height: 60px;
    
    font-size: 27px;
    color: #FFF;

    font-family: 'Source Sans Pro', sans-serif;

}
.button-border-radius{
    border: none;
    border-radius: 41px;
}

#header-middle{
    display: flex;
    justify-content:space-between;
    height: 100px;
    align-items: center;
}
#header-search{
    display: flex;

    width: 100%;
    align-items: center;
}
#header-search-bar{
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    padding-left: 3%;
    font-size: 15px;
}
#header-search-filter{
    display: flex;
    width: 50px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color:#F7A325;
    justify-content: center;
    align-items: center;
}
#header-search-button{
    border: none;
    display: flex;
    width: 50px;
    height: 40px;
    border-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color:#F7A325
}
.icon-search{
    height: 20px;
    width: 20px;
}
#tunel-do-saber{
    width: 100%;
    font-size: 27px;
}
#header-title{
    width: 30%;
}
#header-login{
    display: flex;
    width: 25%;
}
#header-button-login{
    height: 40px;
    width: 150px;
    border-radius: 23px;
    border: none;
    font-size: 15px;
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
}
#header-top{
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2%;
    font-size: 15px;
}
#header-bottom{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header-ul{
    width: 100%;
    text-align: center;
}
.book-feed {
    height: 323px;
    width: 226px;
    display: flex;
    flex-wrap: wrap;
}
#books{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#login{
    display: flex;
    flex-direction: column;
    
    width: 600px;
    height: 500px;
    border: solid black 1px;
}
#login-title{
    text-align: center;
}
#login-checkbox{
    display: flex;
    justify-content: flex-start;
}
.checkbox{
    padding: 3%;
    border-radius: 25%;
}
#login-inputs{
    display: flex;
    flex-direction: column;
}
.filling-login{
    width: 200px;
}
#details{

    width: 90%;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    gap: 0px;

}
#book-photos{
    width: 40%;
    height: 100%;
    border-right: solid 2px #FFF;
    margin: 0px;
    display: flex;
    padding-right: 4%;
}

#small-photos-book{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.small-photo-book{
    padding: 20px 20px 20px 0px;
    width: 80px;
    height: 80px;
}
#main-photo-book{
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-photo-details{
    width: 354px;
    height: 500px;
}
#book-details{
    width: 60%;
    height: 100%;

    padding: 0px 0px 10px 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.paragrafo-book-details{
padding-bottom: 4%;
    
}
#button-solicitar{
    width: 158px;
    height: 43px;
    border: none;
    border-radius: 25px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}
#title-details-book{
    margin-bottom: 7%;
    display: flex;
    justify-content: flex-start;
}

#profile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    width: 100%;
}
#profile-details{
    display: flex;
    flex-direction: row;
    height: 350px;
    width: 100%;
    border-bottom: solid #FFF 2px;
    align-items: center;
    justify-content: center;

}
#profile-photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding-right: 5%;
}
#profile-description{
    padding-left: 5%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.profile-details-text{
    padding-bottom: 2%;
}

#profile-edit{
    display: flex;
    padding-left: 0%;
}
#profile-button-edit{
    width: 158px;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
#profile-my-collections{
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 100%;
    border-bottom: solid #FFF 2px;
    align-items: center;
    justify-content: center;

}

#profile-my-collections{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
    padding: 0% 0% 3% 0%;
    
}
#profile-colletion-books{
    display: flex;
    padding-bottom: 20px;
}

.books-profile{
    height: 323px;
    width: 226px;
    padding: 3% 3% 0% 3%;
}
#my-collection-text{
    padding-top: 3%;
}
#profile-button-add{
    display: flex;
    width: 100%;
    justify-content: center;
}
#button-add{
    width: 186px;
    height: 43px;
    border: none;
    border-radius: 25px;
    color: #FFF;
    font-size: 15px;
}

.filling-signup{
    width: 200px;
    height: 25px;
    border-radius: 20px;
    border: none;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
}

#signup-format{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
#signup-inputs{
    display: flex;
    flex-direction: column;
    
}
#signup{
    margin: 10px;
}
#signuped{
    display: flex;
    justify-content: center;
}
#signup-submit{
    background-color: var(--orange);
    height: 35px;
    border-radius: 20px;
    font-size: 15px;
    width: 150px;
    margin-top: 20px;
    border: none;
    color: #FFF;
}
#siginup-but-login{
    border: none;
    background-color: var(--blue);
    color:#FFF;
    height: 25px;
    border-radius: 20px;
    font-size: 12px;
}
