@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400&family=Spectral+SC:wght@700&display=swap');

/* ----- defining palette colors ----- */
:root {
    --green: #12492F;
    --dark-blue-green: #0A2F35;
    --orange: #F56038;
    --dark-pale: #F7A325;
    --pale: #FFCA7A;
    --blue: #2A08FB;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
}

/* general content */
body {
    background-color: var(--dark-blue-green);
    font-family: 'Source Sans Pro', sans-serif;

}

.green-text {
    color: var(--green);
    background-color: var(--dark-pale);
}

.white-text {
    color: #FFF;
    font-family: 'Spectral SC', serif;
    font-size: 36px;
}

a:link {
    transition: 400ms;
    color: initial;
}

a:hover {
    font-weight: bold;
    transition: 200ms;
}

button {
    background-color: var(--orange);
    border-radius: 10px;
    width: 50px;
    word-break: keep-all;
    text-overflow: clip;
}

section,
nav {
    display: flex;
    gap: 80px;
}

ul {
    display: inherit;
    gap: inherit;
    justify-content: space-around;
    /* background-color: var(--dark-pale); */
}

main {
    color: #FFF;
}
#main-text{
    display: flex;

    flex-direction: column;
    justify-content: flex-start;
    padding-top: 3%;
    padding-left: 3%;
}
#title-main-text{
    font-size: 60px;
    margin-bottom: 5%;
    text-align: left;
}
#main-img{
    width: 50%;
    height: 550px;
}
#p-main-text{
    text-align: left;
    line-height:25px;
}
#button-main{
    margin-top: 3%;
    width: 250px;
    height: 60px;
    
    font-size: 27px;
    color: #FFF;

    font-family: 'Source Sans Pro', sans-serif;

}
.button-border-radius{
    border: none;
    border-radius: 41px;
}

#header-middle{
    display: flex;
    justify-content:space-between;
    height: 100px;
    align-items: center;
}
#header-search{
    display: flex;

    width: 100%;
    align-items: center;
}
#header-search-bar{
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    padding-left: 3%;
    font-size: 15px;
}
#header-search-filter{
    display: flex;
    width: 50px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color:#F7A325;
    justify-content: center;
    align-items: center;
}
#header-search-button{
    border: none;
    display: flex;
    width: 50px;
    height: 40px;
    border-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color:#F7A325
}
.icon-search{
    height: 20px;
    width: 20px;
}
#tunel-do-saber{
    width: 100%;
    font-size: 27px;
}
#header-title{
    width: 30%;
}
#header-login{
    display: flex;
    width: 25%;
}
#header-button-login{
    height: 40px;
    width: 150px;
    border-radius: 23px;
    border: none;
    font-size: 15px;
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
}
#header-top{
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2%;
    font-size: 15px;
}
#header-bottom{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header-ul{
    width: 100%;
}
